.inputtextcontainer
{
    position: relative;
    
    padding: 0;
    width: 100%;
    height: 1.5rem;
    margin-top: 2.9%;
}
.inputtext
{
    padding-left: 1%;
    width: 60%;
    height: 100%;
    margin-left: auto;
    border: 0.06rem solid rgba(0, 0, 0, 0.739);
    border-radius: 0.2rem;
    outline: none;
    background-color:  #ddd9d9;
    font-size: 0.6rem;
}
.placeholdertext
{
   padding-left: 1%;
   padding-right: 1%;
   left: 21%;
   top: 30%;
   position: absolute;
   font-size: 0.5rem;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(137, 136, 136);
   pointer-events: none;
   transition: 250ms ease;
   background-color: transparent;
}